/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.header {
    background-color: #f3e5f5; /* Rosa claro */
    color: #880e4f; /* Rosa oscuro */
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.navbar {
    background-color: #880e4f; /* Rosa oscuro */
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block; /* Cambiado de "inline" a "inline-block" */
    margin-right: 20px; /* Espacio entre elementos del menú */
}

.navbar a {
    display: block;
    padding: 10px;
    color: #ffffff; /* Blanco */
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ad1457; /* Rosa medio */
}

.content {
    padding: 20px;
    background-color: #fce4ec; /* Rosa claro */
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #880e4f; /* Rosa oscuro */
    text-align: center;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ad1457; /* Rosa medio */
    text-align: center;
}

.footer {
    background-color: #880e4f; /* Rosa oscuro */
    color: #ffffff; /* Blanco */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para el menú hamburguesa */
.navbar ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
}

.navbar ul.active li {
    display: block;
}

.navbar-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #f50bc6;
        font-size: 24px;
        cursor: pointer;
    }

    .navbar ul {
        display: none;
    }
}
